@import '_mixins';
@import '_colors';
@import '_normalize';

// Navigation Styles
.navigation-wrapper {
    background-color: $white;
    padding: 24px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;

    a {
        color: $text-color;
    }

    nav {
        @include maximum-width;

        @include flex(row, space-between, center);

        a {
            display: inline-block;
            font-family: 'Palanquin', sans-serif;
            @include font(bold, 1.125rem, 33px);
        }

        .nav-logo {
            @include font(bold, 2rem, 58px);

            span {
                color: $button-color;
            }
        }

        .top-nav-links {
            @include flex(row, space-between, center);

            ul {
                @include flex(row, space-between, center);
            }
        }
    }
}

// Hero Styles
.hero-wrapper {
    background: $white;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        bottom: -120px;
        right: 0;
        height: 200px;
        width: 100%;
        background: #f6f9fc;
        transform: skew(0deg, -6deg);
      }

    .hero-contents {
        @include maximum-width;
        padding: 159px 0  93px;

        .hero-text-wrapper {
            max-width: 459px;

            h2 {
                @include font(bold, 4rem, 62px);
                margin-bottom: 24px;
            }

            p {
                @include font(normal, 1rem, 24px);
                margin-bottom: 59px;
            }

            .hero-links {
                .learn-button {
                    @include button;
                }

                span {
                    @include font(600, 1.125rem, 27px);
                    margin: 0 24px;
                }

                .contact-button {
                    @include font(600, 1.125rem, 27px);
                    color: $button-color;
                    text-decoration: underline;
                }
            }
        }
    }
}

// Secondary Contents Styles 
.secondary-contents {
    background: linear-gradient(0deg, #FFF 50%, rgba(245, 248, 252, 0) 108.26%);
    padding-bottom: 207px;

    // Partners Styles
    .partners-wrapper {
        @include maximum-width;
        padding-top: 60px;
        margin-bottom: 104px;

        h5 {
            @include font(bold, 1.125rem, 27px);
            margin-bottom: 45px;
        }
    }

    // Goals Styles 
    .goals-wrapper {
        @include maximum-width;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
        
        .top-goals-wrapper,
        .bottom-goals-card-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 16px;

            .goals-card-wrapper {
                display: grid;
                grid-row-gap: 16px;

                &.first {
                    grid-template-rows: repeat(2, minmax(auto, 431px));
                }

                &.second {
                    grid-template-rows: repeat(2, minmax(auto, 375px));
                }

                &.third {
                    grid-template-rows: repeat(2, minmax(auto, 375px));
                }

                &.fourth {
                    grid-template-rows: minmax(auto, 412px);
                    margin-top: 80px;
                }

                .goal-card {
                    background-color: $white;
                    padding: 32px 32px 0;
                    border-radius: 8px;
                    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.04);

                    .goal-img {
                        width: 64px;
                        height: 64px;
                        border-radius: 4px;
                        background-color: #C4C4C4;
                        margin-bottom: 40px;
                    }

                    h5 {
                        @include font(600, 1.5rem, 36px);
                        margin-bottom: 8px;
                        color: $text-color;
                    }

                    p {
                        @include font(normal, 1rem, 24px);
                        color: $text-color;
                    }
                }
            }
        }

        .bottom-goals-wrapper {
            .goal-lead-text {
                max-width: 491px;
                margin: 0 0 0 auto;

                h4 {
                    text-transform: uppercase;
                    color: $button-color;
                    @include font(bold, 1.125rem, 27px);
                    margin-bottom: 4px;
                }

                h2 {
                    @include font(bold, 2.25rem, 54px);
                    margin-bottom: 16px;
                    color: $text-color;
                }

                p {
                    @include font(normal, 1rem, 24px);
                    max-width: 420px;
                    color: $text-color;
                }
            }

            .bottom-goals-card-wrapper {
                margin-top: 106px;
            }
        }
    }

    // Solution Styles
    .solutions-wrapper {
        @include maximum-width;
        margin-top: 104px;

        .solution-lead-text-wrapper {
            text-align: center;
            margin-bottom: 32px;

            h4 {
                text-transform: uppercase;
                color: $button-color;
                @include font(bold, 1.125rem, 27px);
            }

            h2 {
                @include font(bold, 2.25rem, 62px);
                color: $text-color;
                margin-bottom: 16px;
            }

            p {
                @include font(normal, 1rem, 24px);
                color: $text-color;
                max-width: 459px;
                margin: auto;
            }
        }

        .solution-content {
            max-width: 1113px;
            margin-top: 72px;
            @include flex(row, space-between, flex-end);

            .solution-img {
                width: 489px;
                height: 516px;
                background-color: #F8FAFD;
            }

            .solution-text-content-wrapper {
                max-width: 507px;

                .solution-text-content {
                    color: $text-color;

                    h2 {
                        @include font(bold, 2rem, 48px);
                        margin-bottom: 8px;
                    }

                    h5 {
                        @include font(300,  1.5rem, 36px);
                        margin-bottom: 1rem;
                    }

                    p {
                        @include font(normal, 1rem, 24px);
                        margin-bottom: 59px;
                    }
                }

                .solution-sub-contents {
                    display: grid;
                    grid-row-gap: 48px;

                    .sub-contents {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-column-gap: 32px;;

                        .sub-content-text {
                            @include flex(row, flex-start, center);

                            .sub-content-img {
                                width: 56px;
                                height: 56px;
                                border-radius: 4px;
                                background: #C4C4C4;
                                margin-right: 1rem;
                            }

                            h5 {
                                @include font(500, 1rem, 24px);
                                color: #000;
                            }
                        }
                    }
                }

                .solution-links {
                    margin-top: 68px;

                    .send-button {
                        @include button;
                    }
    
                    span {
                        @include font(600, 1.125rem, 27px);
                        margin: 0 24px;
                    }
    
                    .learn-button {
                        @include font(600, 1.125rem, 27px);
                        color: $button-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// Primary Contents Styles
.primary-content-wrapper {
    position: relative;
    background: linear-gradient(0deg, #ffffff 20%, rgba(245, 248, 252, 0) 93.32%);
    overflow: hidden;
    padding-bottom: 104px;

    &:before {
        content: '';
        position: absolute;
        top: -300px;
        right: 0;
        height: 400px;
        width: 120%;
        background: #fff;
        transform: skew(30deg, 5deg);
      }

    // Cases Styles
    .cases-contents {
        position: relative;
        max-width: 1247px;
        @include flex(row, space-between, flex-end);
        margin-bottom: 104px;

        .cases-img-wrapper {
            .cases-img {
                width: 684px;
                height: 666px;
                background-color: #F4F4F4;
            }
        }

        .cases-text-content {
            h4 {
                text-transform: uppercase;
                @include font(bold, 1.125rem, 27px);
                color: $button-color;
            }

            h2 {
                @include font(bold, 2rem, 48px);
                color: $text-color;
                margin-bottom: 1rem;
            }

            p {
                @include font(normal, 1rem, 24px);
                max-width: 500px;
            }

            .cases-sub-content {
                max-width: 500px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 32px;
                margin-top: 80px;

                .cases-sub-text {
                    border-top: 5px solid $button-color;
                    padding-top: 4px;
                    color: #000;

                    h2 {
                        @include font(bold, 2.5rem, 60px);
                    }

                    h5 {
                        @include font(500, 1rem, 24px);
                    }
                }
            }
        }

        @include maxWidth(1290px) {
            margin-right: 3.5rem;
        }

        @include maxWidth(700px) {
            margin-right: 2rem;
        }
    }

    // About Styles
    .about-wrapper {
        @include maximum-width;

        .about-contents {
            @include flex(row, flex-start, center);

            .about-text-wrapper {
                max-width: 570px;
                margin-right: 20%;
                color: $text-color;

                h4 {
                    text-transform: uppercase;
                    @include font(bold, 1.125rem, 27px);
                    color: $button-color;
                }

                h2 {
                    @include font(bold, 2rem, 48px);
                    margin-bottom: 8px;
                }

                H5 {
                    @include font(normal, 1.5rem, 36px);
                    color: $text-color;
                    margin-bottom: 1rem;
                }
    
                p {
                    @include font(normal, 1rem, 24px);
                    margin-bottom: 56px;
                }

                a {
                    @include font(600, 1.125rem, 27px);
                    color: $button-color;
                    text-decoration: underline;
                }
            }

            .about-links {
                h4 {
                    @include font(bold, 1.5rem, 60px);
                    margin-bottom: 1rem;
                }

                .link-wrapper {
                    @include flex(row, flex-start, center);
                    margin-bottom: 32px;

                    .link-img-wrapper {
                        .link-img {
                            width: 40px;
                            height: 40px;
                            background-color: #C4C4C4;
                            border-radius: 4px;
                            margin-right: 24px;
                        }
                    }
                }
            }
        }
    }
}

// Footer Styles
footer {
    background-color: $footer-background;
    padding: 104px 0  44px;

    .footer-contents {
        @include maximum-width;
    }
}