@import '_mixins';
@import '_colors';
@import '_normalize';

.navigation-wrapper {
    background-color: $white;
    padding: 40px 0;
    nav {
        @include maximum-width;

        @include flex(row, space-between, center);

        a {
            display: inline-block;
            font-family: 'Palanquin', sans-serif;
            font-weight: bold;
        }

        .top-nav-links {
            @include flex(row, space-between, center);

            ul {
                @include flex(row, space-between, center);
            }
        }
    }
}